extends layout

block content
    main.flex-shrink-0
        .container
            h1.mt-5 #{software.name}
            p.lead
            .card.mb-3
              .card-body
                .card-heading
                  .card-title
                    h2 Available sites
                  each site in sites_available.data
                    .card-body
                      .card-heading
                        h4 #{site.nickname || site.expected_name}
                      .card-text
                    .card-body
                      a.card-link(href='/portal/' + site.expected_name) Manage access
                      a.card-link(href='//' + site.full_domain, target='_blank') Visit #{site.expected_name}
            .card.mb-3
              .card-body
                .card-heading
                  h2 Join a group
                  each group in groups_available.results.data
                    .card-body
                      .card-text
                        // pre.
                          #{JSON.stringify(group, null, 2)}
                      a.card-link(href='./invitations/' + group.expected_name + '/join') RSVP to 
                        strong
                          | #{group.group_name}
                      span.card-text
                        |  to visit 
                        span.card-text
                          strong #{group.nickname}
                          | : 
                          tt #{group.full_domain}.
            //- .card.mb-3
              .card-body
                .card-heading
                  h2 My activity
                ul
                  //- li activity a
                  //- li activity b
            | #{software.salutation}
            if debugViews || show_debug
              pre.
                #{JSON.stringify(locals, null, 2)}
            ul
              li
                a(href="/auth/connect") Connect to T1Pal
              li
                a(href="/dashboard") Dashboard


            //- h3 Sites


            //- each site in sites
              h4
                a(href="/details/" + site.name) #{site.name} Details
