extends layout.pug

mixin node(attrs)
  if attrs.meta.label
    if attrs.attributes.type == 'submit'
      button()&attributes(attrs.attributes)
        | #{attrs.meta.label.text}
    else
      label(for=attrs.meta.label.id) #{attrs.meta.label.text}
        input&attributes(attrs.attributes)
  else
    input&attributes(attrs.attributes)
  //- pre.
    #{attrs.type}
    #{attrs.type}
    #{JSON.stringify(attrs, null, 2)}
    


block content
  main.flex-shrink-0
    .container
      h1.mt-5 Unable to complete
      .card
        h2.typography-h2.card-title
          | We experienced a set back
        pre.code-box
          code.
            #{message}
          
      .card
        .card-action
          a.typography-link.typography-h2(href='/auth/login') Return to login area
      pre.
        #{JSON.stringify(locals, null, 2)}

