extends layout.pug

mixin node(attrs)
  .form-group.row
    if attrs.meta.label
        if attrs.attributes.type == 'submit'
          button.btn.btn-primary()&attributes(attrs.attributes)
            | #{attrs.meta.label.text}
        else
          label(for=attrs.attributes.name) #{attrs.meta.label.text}
          input.form-control(id=attrs.attributes.name)&attributes(attrs.attributes)
          small &nbsp;
    else
      input&attributes(attrs.attributes)
    //- pre.
      #{attrs.type}
      #{attrs.type}
      #{JSON.stringify(attrs, null, 2)}

block content
  main.flex-shrink-0
    .container.mt-5
      h1 Sign in
      .card
        .card-body
          //- each group in [ 'oidc', 'password' ]
            form(id=`flow-${group}`, action=flow.ui.action, method=flow.ui.method)
              each node in flow.ui.nodes
                if node.group == "default" || node.group == "" || node.group == group
                  +node(node, group)
                  br
          form#flow(action=flow.ui.action, method=flow.ui.method)
            each node in flow.ui.nodes
              if node.group == "oidc"
                +node(node)
                br
      .card
        .card-body
          h3.card-title Login with Email and password
          form#flow(action=flow.ui.action, method=flow.ui.method)
            each node in flow.ui.nodes
              if node.group != "oidc"
                +node(node)
                br
        .card-body
          .card-link
            a(href='/recovery') Recover forgotten password
      if debugViews
        pre.
          #{JSON.stringify(locals, null, 2)}

