extends layout.pug

mixin node(attrs)
  if attrs.meta.label
    if attrs.attributes.type == 'submit'
      button()&attributes(attrs.attributes)
        | #{attrs.meta.label.text}
    else
      label(for=attrs.meta.label.id) #{attrs.meta.label.text}
        input&attributes(attrs.attributes)
  else
    input&attributes(attrs.attributes)
  //- pre.
    #{attrs.type}
    #{attrs.type}
    #{JSON.stringify(attrs, null, 2)}
    


block content
  main.flex-shrink-0
    .container
      h1.mt-5 Recover account access
      each message in flow.ui.messages || [ ]
        .card
          .card-text #{message.text}
      form#flow(action=flow.ui.action, method=flow.ui.method)
        each node in flow.ui.nodes
          // if node.group == 'profile' || node.group == 'default'
          +node(node)

            br
      pre.
        #{JSON.stringify(locals, null, 2)}

