
extends ../layout

block content
  main.flex-shrink-0
    .container
      h1.mt-5 #{software.name}

      .row
        each group in groups.results.data
          .card-body
            .card-heading
              h4
                | #{group.group_name}
              .card-text
                small.text-muted #{group.full_domain}
          .card-body
            .card-text
              h5
                | #{group.policy_name}
              p For 
                strong #{group.nickname}: 
                small.text-muted #{group.full_domain}

            .card-text
              a.card-link(href=`${links.nav.self}`) Review
            .card-text
                if group.subject
                  form(action=`${links.nav.self}/actions/leave`, method='POST')
                    button.btn.btn-danger(type='submit', value='leave_group') Leave
                      | 
                      | #{group.group_name}
                else
                  a.btn.btn-success(href=`/invitations/${group.expected_name}/join`) Join
                    | 
                    | #{group.group_name}
            if debugViews
              pre.
                #{JSON.stringify(group, null, 2)}

        if debugViews
          pre.
            #{JSON.stringify(locals, null, 2)}
