
extends ../layout


block content
  main.flex-shrink-0
    .container
      h1.mt-5 #{software.name}
      div.row
        div.col-sm-6
          div.page-header
            h1 Another application is requesting access to your data.
        .hero
          form(action=action, method="POST")
              input(type="hidden", name="challenge", value=challenge)
              input(type="hidden", name="_csrf", value=csrfToken)

              if client.logo_uri
                  img(src=client.logo_uri)

              p.
                  Hi #{user.identity.traits.name.first}, application <strong>#{client.client_name || client.client_id}</strong> wants access resources on your behalf and to:

              each scope in requested_scope
                .form-group
                    input.checkbox(type="checkbox", class="grant_scope", id=scope, value=scope, name="grant_scope")
                    label(for=scope) #{scope}

              .card-body
                h5 Remember settings
                .card-text.
                  Do you want to be asked next time when this application wants to access your data? The application will
                  not be able to ask for more permissions without your consent.
                input(type="checkbox", id="remember", name="remember", value="1")
                label(for="remember") Do not ask me again
              ul
                  if client.policy_uri
                      li
                          a(href=client.policy_uri) Policy
                  if client.tos_uri
                      li
                          a(href=client.tos_uri) Terms of Service
              each group in groups_available.results.data
                .card-text
                    label
                      input.checkbox(type="checkbox", checked=group.subject!=null, name='join[' + group.group_id + ']', value=group.group_id)
                      | 
                      | Join
                      | 
                      tt #{group.group_name}
                      | 
                      | to access
                      tt #{group.full_domain}
                      | .
                        

              p
              p
              .card-body
                  input.btn.btn-success(type="submit", id="accept", name="submit", value="Allow access")
                  input.btn.btn-outline-secondary(type="submit", id="reject", name="submit", value="Deny access")
                

      if debugViews
        pre.
          #{JSON.stringify(locals, null, 2)}
